
//Mixins

@mixin h1Title {
	h1 {
        text-align: $titleAlighn;
        margin: 5px 0 25px 0;
        color: $titleColor;
        text-transform: $register;	
	}
}

@mixin h2Title {
    h2 {
        color: $titleColor;
        margin: 15px 0 25px 0;
        }
    }

@mixin pText {
    p { color: $textColor;
        font-family: $mainFont;
        font-size: $fontSize;
        padding: 0 0 20px 0;
    }
}

@mixin imageStyle {
    img {
        border: 2px solid $imgBorderColor;
        padding: $imgPadding;

        &.img-left {
            float:left;
            margin: 0 20px 10px 0;
        }

        &.img-right {
            float: right;
            margin: 0 0 10px 25px; 
        }  
    }
}

@mixin briefStyle {
    .brief {
        background-color: $briefColor;
        width: $briefWidth;
        margin: $briefMargin;
        padding: $briefPadding;
        float: $briefFloat;
        box-sizing: border-box;
    }
}

@mixin links {
    a {
        &:link {
            color: $linkColor;
        }
        &:visited {
            color:$linkColor
        }
        &:hover {
            color: lighten($linkColor,20%);
            text-decoration: none;
            transition: $linkTransition;
        }
    }
}

@mixin tableHeading {
    th {
        background: $tableHeadColor;
        text-transform: $tableUpperCase;
        font-weight: $fontWeight;
        padding: 10px 15px;
        text-align: left;
        border-right: $borderWidth solid $tableBorderColor;
        &:last-child {
            border-right:none;
        }
    }
    
}

@mixin button {
    button {
        width: 240px;
        height: 50px;
        margin: 20px 0;
        border: $borderWidth solid $buttonColor;
        text-transform: $tableUpperCase;
        font-size: $buttonFontSize;
        background-color: $buttonBkgColor;
        color: $buttonColor;
        cursor: pointer;
        &:hover {
            color: lighten($buttonColor,30%);
            background-color: $buttonColor;
            border:none;
            transition: $buttonTransition;
        }
    }
}
//End of Mixins

// styles
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bodyColor;   
}

#content {
    margin: $positioning;
    padding: 20px;
    width: $contentWidth;
    background-color: $contentBgColor;
    @include h1Title;
    @include h2Title;
    @include pText;
    @include imageStyle;
    @include briefStyle;
    @include links;
    table {
        width:$tableWidth;
        border-collapse: collapse;
        margin-bottom: 60px;
        background-color:$tableBkgColor;
        
        caption {
            text-align: right;
        }
        
        @include tableHeading;

        tr {
            &+tr {
                border-bottom: $borderWidth solid $tableHeadColor;
            }
            td {
                padding: 10px 15px;
                color: $textColor;
            }
		}
    }
    .form {
        fieldset {
            border: none;
            padding: 10px 0 10px 0;
        }

        h2{
            margin-bottom: 10px;
        }
        
        .nameField {           
/* perhaps using grid system will be better
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
*/  
            display: flex;
            justify-content: space-between;
            input {
                width: 480px;
               
            }
        }

        label {
            display: block;
            color: $formTextColor;
            text-transform: $tableUpperCase;
            margin-bottom: 5px;
        }
        
        input {
            width: $maxWidth;
            padding: 5px;
            border: $borderWidth solid $tableHeadColor;
            display: inline-block;
        }

        textarea {
            padding-top: 5px;
            width: $maxWidth;
            height: auto;
            color: $textAreaColor;
            border:  $borderWidth solid $tableHeadColor;
        }

        @include button;
    }
}