
//Mixins

@mixin h1Title {
	h1 {
        text-align: $titleAlighn;
        margin: 5px 0 25px 0;
        color: $titleColor;
        text-transform: $register;	
	}
}

@mixin h2Title {
    h2 {
        color: $titleColor;
        margin: 15px 0 25px 0;
        }
    }

@mixin pText {
    p { color: $textColor;
        font-family: $mainFont;
        font-size: $fontSize;
        padding: 0 0 20px 0;
    }
}

@mixin imageStyle {
    img {
        border: 2px solid $imgBorderColor;
        padding: $imgPadding;

        &.img-left {
            float:left;
            margin: 0 20px 10px 0;
        }

        &.img-right {
            float: right;
            margin: 0 0 10px 25px; 
        }  
    }
}

@mixin briefStyle {
    .brief {
        background-color: $briefColor;
        width: $briefWidth;
        margin: $briefMargin;
        padding: $briefPadding;
        float: $briefFloat;
        box-sizing: border-box;
    }
}

@mixin links {
    a {
        &:link {
            color: $linkColor;
        }
        &:visited {
            color:$linkColor
        }
        &:hover {
            color: lighten($linkColor,20%);
            text-decoration: none;
            transition: $linkTransition;
        }
    }
}

@mixin tableHeading {
    th {
        background: $tableHeadColor;
        text-transform: $tableUpperCase;
        font-weight: $fontWeight;
        padding: 10px 15px;
        text-align: left;
        border-right: 1px solid $tableBorderColor;
        &:last-child {
            border-right:none;
        }
    }
    
}


//End of Mixins

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $bodyColor;   
}

#content {
    margin: $positioning;
    padding: 20px;
    width: $contentWidth;
    background-color: $contentBgColor;
    @include h1Title;
    @include h2Title;
    @include pText;
    @include imageStyle;
    @include briefStyle;
    @include links;

    table {
        width:$tableWidth;
        border-collapse: collapse;
        margin-bottom: 60px;
        background-color:$tableBkgColor;
        
        caption {
            text-align: right;
        }
        
        @include tableHeading;

        tr {

			&+tr {
				border-bottom: 1px solid $tableHeadColor;
			}

			td {
                padding: 10px 15px;
                color: $textColor;
			}
		}
	}

    }





//      table{
//          

//      }

//      caption{
//          text-align: right;
//      }

//     th{
//         background-color: $tableHeadColor;
//         text-transform: uppercase;
//         padding: 10px 20px;
//         text-align: left;
//         font-weight:normal;
//         border-right: 1px solid #ffffff;
//      }
//     tr {
//     border-bottom: 1px solid  $tableHeadColor;
// }
//     td {
//         padding: 10px 20px;
//     }
//     form{
//         box-sizing: border-box;
//         width:100%;
//         text-transform: uppercase;
//         .nameField{
//             display: flex;
//             justify-content: space-between;
//             width: 100%;
//         }
//         fieldset{
//             border:none;
//         }
//     }
//     }