
// colors
$bodyColor:rgba(198, 238, 252, 0.53);
$briefColor:#fff178;
$contentColor:#3b3b3b;
$titleColor:#fccd10;
$tableHeadColor:#94a34e;
$tableBkgColor:#677d01;
$linkColor:#f5c70f;

// font
$mainFont: "Times New Roman", Times, serif;
$fontSize:16px;


// size
$contentWidth:1000px;


$imgBorder:$titleColor;
