
//body
$mainFont: "Times New Roman", Times, serif;
$fontSize: 16px;
$bodyColor:rgba(198, 238, 252, 0.53);

//content
$contentWidth: 1000px;
$contentBgColor: #3b3b3b;
$padding: 20px 20px 20px 20px;
$positioning: 0 auto;

//title h1 h2 text
$titleAlighn: center;
$h1Margin: 5px 40px 20px 0;
$titleColor:#fccd10;
$register: uppercase;
$pBottom: 20px;
$textColor:#ffffff;

//img
$imgPadding: 2px;
$imgBorderColor: $titleColor;

//brief
$briefColor:#fff178;
$briefWidth: 950px;
$briefMargin: 0 0px 35px 0;
$briefPadding: 20px;
$briefFloat: none;

//Links
$linkColor:#f5c70f;
$linkTransition: 0.5s ease-out;

//Table
$fontWeight: normal;
$tableUpperCase:uppercase;
$tableHeadColor:#94a34e;
$tableBkgColor:#677d01;
$tableBorderColor: $textColor;
$tableWidth:95%;

//form
$formTextColor: $titleColor;
$textAreaColor: #808080;

//button
$buttonFontSize: 20px;
$buttonBkgColor:transparent;
$buttonUpperCase: $tableUpperCase;
$buttonColor: $linkColor;
$buttonTransition: $linkTransition;

// Border
$borderWidth:1px;

//width
$maxWidth: 100%;