
$bodyColor:#dcbb9a;
$briefColor:#fadcba;
$contentColor:#ffffff;
$titleColor:#893c00;
$textColor:#000000;
$linkColor:#3d70a1;
$tableHeadColor:#808080;
$formColor:#808080;


// font
$mainFont: "Times New Roman", Times, serif;
$fontSize:16px;

//
$contentWidth:1000px;


//border

$imgBorder:$titleColor;